<!-- @format -->

<header class="homeHeader">
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li class="addArticleNav"><a href="/articles/new">add article</a></li>
    </ul>
  </nav>
</header>
