<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>book</title>
  </head>
  <body>
    <header class="header">
      <nav class="container headerNav">
        <ul>
          <li>
            <button>
              <a href="">add book</a>
            </button>
          </li>
          <li>
            <button>
              <a href="">go to title</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
