<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>book form</title>
  </head>
  <body>
    <header class="formHeader">
      <nav class="container headerNav">
        <ul>
          <li>
            <button>
              <a href="">add book</a>
            </button>
          </li>
          <li><h1>welcome to book app</h1></li>
          <li>
            <button>
              <a href="/">back</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <section class="formSection">
      <div class="container formContainer">
        <form
          class="formBox"
          action="/books"
          method="post"
          enctype="multipart/form-data"
        >
          <h2>add book</h2>
          <input type="text" name="title" placeholder="title" />
          <textarea
            name="summary"
            id=""
            cols="30"
            rows="5"
            placeholder="Summary"
          ></textarea>
          <input type="number" name="pages" placeholder="pages" />
          <input type="text" name="publication" placeholder="publication" />
          <select name="category" id="" placeholder="category">
            <option value="fiction">fiction</option>
            <option value="adventure">adventure</option>
            <option value="technology">technology</option>
            <option value="motivation">motivation</option>
          </select>
          <input type="file" name="image" placeholder="add cover_image" />

          <div class="authorForm">
            <h2>author details</h2>
            <input type="text" name="name" placeholder="author name" />
            <input type="email" name="email" placeholder="email" />
            <input type="text" name="country" placeholder="country" />
          </div>
          <input class="summit" type="submit" value="add book" />
        </form>
      </div>
    </section>
  </body>
</html>
