<!-- @format -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <nav class="container headerNav">
        <ul>
          <li>
            <button>
              <a href="/books/new">add book</a>
            </button>
          </li>
          <li>
            <button>
              <a href="/books">go to list</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <section class="homeSection">
      <div class="container homeContainer">
        <div class="homeHeadingBox">
          <h1>books for all</h1>
          <div class="img">
            <img
              src="/images/woman-with-laptop-computer-sitting-floor-isolated-white_231208-9490.webp"
              alt=""
            />
          </div>
        </div>
        <div class="headingBox"></div>
      </div>
    </section>
  </body>
</html>
