<!-- @format -->

<% include partial/header %>
<section class="container homeSection">
  <div>
    <h2>welcome to blog app</h2>
    <button class="homeBtn">
      <a href="/articles">articles</a>
    </button>
  </div>
</section>
