<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>list</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="homeHeader">
      <nav class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="addArticleNav"><a href="/articles/new">add article</a></li>
        </ul>
      </nav>
    </header>
    <main class="homeMain">
      <div>
        <h1>blog App</h1>
        <button>
          <a href="/articles"> go to article </a>
        </button>
      </div>
    </main>
  </body>
</html>
